.history {
    &__show,
    &__details {
        display: flex;
        flex-direction: row;
    }

    &__show {
        justify-content: space-between;
    }

    &__destination {
        display: flex;
        flex-wrap: nowrap;
    }

    &__details {
        align-items: center;
    }

    &__actions {
        display: flex;
    }
}
