.form {
    &__label_width_default,
    &__control {
        width: 100%;
    }
    &__item {
        flex-wrap: wrap;
        &_border_bottom {
            border-bottom: $border-width var(--color-border) solid;
        }

        &_border_bottom:last-child {
            border-bottom: 0;
        }

        &_distribute_between {
            display: flex;
            justify-content: space-between;
        }

        &_vertical-align_center {
            align-items: center;
        }
    }

    @include lg {
        &__label_width_default {
            width: 35%;
        }

        &__label_width_default + &__control {
            width: 65%;
        }
    }
}

.form__item { //разымеры отступов элементов формы
    @each $name, $size in $sizes {
        &_indent-b_#{$name} {
            margin-bottom: $size;
        }
    }

    @each $name, $size in $sizes {
        &_space-h_#{$name} {
            padding-left: $size;
            padding-right: $size;
        }
    }

    @each $name, $size in $sizes {
        &_space-v_#{$name} {
            padding-top: $size;
            padding-bottom: $size;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.form_border_all {
    border: $border-width var(--color-border) solid;
}

.form_view_default {
    background-color: var(--background-default);
}
