.informer {
	&__content,
	&__action {
		display: flex;
		flex-wrap: wrap;
		&_space-a_xl {
			padding: var(--space-xl);
		}
		&_space-a_xxl {
			padding: var(--space-xxl);
		}

		&_distribute_between {
			justify-content: space-between;
		}

		&_distribute_center {
			justify-content: center;
		}

	}	
}

.informer_border_all {
	border: $border-width var(--color-border) solid;
}

.informer_view_default {
	background-color: var(--background-default);
}