.informer {
	&__content {
		&_distribute_default {

		}
		&_distribute_between {

		}
		&_distribute_center {
			flex-direction: column;
			align-items: center;
		}

	}

	&__action {
		
		&_distribute_default {
	
		}
		&_distribute_between {

		}
		&_distribute_center {
			flex-direction: column;
			align-items: center;
		}
	}
	
	//отступы
	&__content,
	&__action {
		display: flex;
		&_space-a_xl {
			padding: var(--space-xl);
		}
		&_space-a_xxl {
			padding: var(--space-xxl);
		}
	}
}

.informer_border_all {
	border: $border-width var(--color-border) solid;
}

.informer_view_default {
	background-color: var(--background-default);
}