$sizes: (
    "xxxs": var(--space-xxxs),
    "xxs": var(--space-xxs),
    "xs": var(--space-xs),
    "s": var(--space-s),
    "m": var(--space-m),
    "l": var(--space-l),
    "xl": var(--space-xl),
    "xxl": var(--space-xxl),
    "xxxl": var(--space-xxxl)
);

.text {
    &__word {
        display: inline-block;
    }
}

.text_align_center {
    text-align: center;
}

@mixin text-color($color) {
    .text {
        &__word { background-color: $color; }
    }
}

@mixin text-word-params($line-height, $height, $width-s, $width-m, $width-l) {
    line-height: $line-height;

    .text {
        &__word {
            height: $height;
            &_width_s { width: $width-s; }
            &_width_m { width: $width-m; }
            &_width_l { width: $width-l; }
        }
    }
}

.text_view_primary {
    @include text-color(var(--text-primary));
}

.text_view_secondary {
    @include text-color(var(--text-secondary));
}

.text_view_ghost {
    @include text-color(var(--text-ghost));
}

.text_view_link {
    @include text-color(var(--text-link));
}

.text_size_s {
    @include text-word-params(var(--line-height-s), 8px, 20px, 48px, 100px);
}

.text_size_m {
    @include text-word-params(var(--line-height-m), 10px, 24px, 56px, 114px);
}

.text_size_l {
    @include text-word-params(var(--line-height-l), 11px, 28px, 68px, 138px);
}

.text_size_xl {
    @include text-word-params(var(--line-height-xl), 13px, 32px, 74px, 154px);
}

.text_size_xxl {
    @include text-word-params(var(--line-height-xxl), 16px, 36px, 88px, 184px);
}

.text_type_h1 { margin: 18px 0 24px; }
.text_type_h2 { margin: 45px 0 21px; }
.text_type_h3 { margin: 42px 0 0; }
.text_type_p { margin: 15px 0 21px; }