html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@import './helpers/helpers';
@import './constants/constants';
@import './blocks/base/base';
@import './blocks/content/_index';

//for develop
body {
    margin: 0;
}
