/*THEME*/

	/*color*/

	//сюда забить переменные для цветов как минимум

	.theme_color_project-default {
		--background-default: 	#ffffff;
		--background-accent: 	#ffcc00;
		--color-border: 		#000000;

		--text-primary: 		#000000;
		--text-secondary:		rgba(0, 0, 0, 0.6);
		--text-ghost:  			rgba(0, 0, 0, 0.3);
		--text-link: 			#0077ff;
	}

	.theme_color_project-brand {
		--background-default: 	#0077ff;
		--background-accent: 	#ffffff;
		--color-border: 		#ffffff;

		--text-primary: 		#ffffff;
		--text-secondary:		rgba(255, 255, 255, 0.6);
		--text-ghost:  			rgba(255, 255, 255, 0.3);
		--text-link: 			#ffffff;
	}

	.theme_color_project-inverse {
		--background-default: 	#000000;
		--background-accent: 	#ffffff;
		--color-border: 		#ffffff;

		--text-primary: 		#ffffff;
		--text-secondary:		rgba(255, 255, 255, 0.6);
		--text-ghost:  			rgba(255, 255, 255, 0.3);
		--text-link: 			#0077ff;
	}

	.theme_color_project-warning {
		--background-default: 	#ff3333;
		--background-accent: 	#ffffff;
		--color-border: 		#ff3333;

		--text-primary: 		#ffffff;
		--text-secondary:		rgba(255, 255, 255, 0.6);
		--text-ghost:  			rgba(255, 255, 255, 0.3);
		--text-link: 			#ffffff;
	}

	/* size */

	.theme_size_default {
		--text-s: 8px;
		--text-m: 10px;
		--text-l: 11px;
		--text-xl: 13px;
		--text-xxl: 16px;

		--line-height-s: 21px;
		--line-height-m: 25px;
		--line-height-l: 28px;
		--line-height-xl: 34px;
		--line-height-xxl: 38px;
	}

	/* size */

	.theme_space_default {
		--space-xxxs: 3px;
		--space-xxs: 6px;
		--space-xs: 9px;
		--space-s: 15px;
		--space-m: 18px;
		--space-l: 24px;
		--space-xl: 27px;
		--space-xxl: 36px;
		--space-xxxl: 45px;
		--space-xxxxl: 51px;
		--space-xxxxxl: 72px.
	}

	.theme_gap_small {
		--gap: var(--space-s);

		@include lg {
			--gap: var(--space-xl);
		}
	}